<div class="container addGiftForm">
    <form class="wishList">
        <div class="form-row">
            <div class="col-md-6">
                <label id = "inputWishListName">Wishlist Name:</label>
                <input type="text" class="form-control" id="wishListName" placeholder="Ex: My Birthday Wishlist" />
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEvent">Event:</label>
                <select id="inputEvent" class="form-row">
                    <option selected></option>
                    <option>Birthday</option>
                    <option>Wedding</option>
                    <option>New Home</option>
                    <option>Anniversary</option>
                    <option>Graduation</option>
                </select>
            </div>
            <div class="col-md-8">
                <label for="inputItemName">Item Name:</label>
                <input type="text" class="form-control" id="itemName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputCategory">Category</label>
            <input type="text" class="form-control" id="CategoryName" />
        </div>

        <div class="form-row">
        <div class="col-md-2">
            <label for="URL">URL address for Item</label>
            <input type="text" class="form-control" id="URLname" />
        </div>

        <button type="submit" id="addItem" class="btn">Add Another Item</button>
        <br>
        <hr>
        <div class="comments">
            <h5>Additional comments: sizes, colors, alternatives, etc:</h5>
            <input type="text" class ="form-control" id="commentName"/>
      </div>
        <br>
        <hr>
        </div>
