<article>
  <h2>
    Edit gift
        
        <form class="edit-post-form">
            <div>
                <label for = "inputWishListName">{{wishlist_name}}:</label>
                <input type="text" id="inputWishListName" name="inputWishListName" value="{{wishlist_name}}" />
            </div>
            <div>
                <label for="inputEvent">Event:</label>
                <input type="text" id="inputEvent" name="inputEvent"> 
            </div>
            <div>
                <label for = "inputItemName">Item Name:</label>
                <input type="text" id="inputItemName" name="inputItemName">
            </div>
            <div>
                <label for ="inputCategory">Category:</label>
                <input type="text" id ="inputCategory" name="inputCategory">
            </div>
            <div>
                <label for ="inputURL">URL:</label>
                <input type ="text" id ="inputURL" name="inputURL"> 
            </div>
    <button type="submit">Save gift</button>
    <button type="button" class="delete-post-btn">Delete Gift</button>
  </form>
  <div>
    <button type="submit">I got it!</button>
  </div>
</form>


<script src = "/javascript/edit-gift.js"></script>