<article>
  <h2>
    Edit gift
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{wishlist.name}}" />
      <span></span>
    </div>
    <div>
    </div>
    <button type="submit">Save gift</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>


<script src = "/javascript/edit-gift.js"></script>