<ol class="wish-list">  
    <li>
        <article class="wish">
            <div class="title">
                {{#each wish as |wish|}}
                <li>
                    {{> wish-info wish }}
                </li>
                {{/each}}
               </div> 
        </article>
    </li>
</ol>