<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Project 2</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
<!--search-->
      <form>
        <input type="text" placeholder="search name..." name="search" />
        <button onclick="submitSearch()">Search</button>
      </form>
<!--results-->
      <table id="search-results"></table>

            <script src="index.js"></script>
            <script src="/controllers/search.js"></script>

  </body>

</html>
