{{!-- <section class = 'post'>
    <form class="wishList-form"> --}}
        <section>
        <form class="gift-form">
            <div>
                <label for = "inputWishListName">Wishlist Name:</label>
                <input type="text" id="inputWishListName" name="inputWishListName" placeholder="Ex: My Birthday Wishlist" />
            </div>
            <div>
                <label for="inputEvent">Event:</label>
                <input type="text" id="inputEvent" name="inputEvent"> 
            </div>
            <div>
                <label for = "inputItemName">Item Name:</label>
                <input type="text" id="inputItemName" name="inputItemName">
            </div>
            <div>
                <label for ="inputCategory">Category:</label>
                <input type="text" id ="inputCategory" name="inputCategory">
            </div>
            <div>
                <label for ="inputURL">URL:</label>
                <input type ="text" id ="inputURL" name="inputURL"> 
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
        </section>

<script src ="/javascript/add-wishlist.js"></script>
