<section class = 'post'>
    <form class="wishList-form">
        <div class="form-row">
            <div class="col-md-6">
                <label for = "inputWishListName">Wishlist Name:</label>
                <input type="text" class="form-control" id="wishListName" name="wishListName" placeholder="Ex: My Birthday Wishlist" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEvent">Event:</label>
                <select id="inputEvent" class="form-row" name="inputEvent">
                    <option selected></option>
                    <option>Birthday</option>
                    <option>Wedding</option>
                    <option>New Home</option>
                    <option>Anniversary</option>
                    <option>Graduation</option>
                </select>
            </div>
            <div class="col-md-8">
                <label for="inputItemName">Item Name:</label>
                <input type="text" class="form-control" id="itemName" name = "itemName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCategory">Category</label>
            <input type="text" class="form-control" id="CategoryName" name="categoryName" />
        </div>

        <div class="form-row">
        <div class="col-md-2">
            <label for="URL">URL address for Item</label>
            <input type="text" class="form-control" id="URLname" name ="URLname" />
        </div>

        <button type="submit" id="addItem" class="btn">Add Another Item</button>
        <br>
        <hr>
        <div class="comments">
            <h5>Additional comments: sizes, colors, alternatives, etc:</h5>
            <input type="text" class ="form-control" id="commentName"/>
      </div>
        <br>
        <hr>
        </div>
  <div>
    <button type="submit" class="btn">Create</button>
  </div>
</form>
</section>

<script src ="/public/javascript/add-wishlist.js"></script>